/* You can add global styles to this file, and also import other style files */
:root {
  --bgcolor: #1a79cf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100%;
}


.m-0{
  margin: 0px !important;
}